body{
    margin: 0;
    background: lightgrey;
    text-align: center;
}

h1 {
    font-style: bold;
    text-decoration: underline;
    font-size: 150%;
}

p {
    font-style: bold;
    font-size: 150%;
}

#message{
    text-decoration: underline;
}